<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.charliecm.hyperlink</string>
	<key>connections</key>
	<dict>
		<key>5401675F-EFFB-434E-AA04-FB61D555B578</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>547E5E8D-9A61-435F-AE57-26E8AF0E435C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>547E5E8D-9A61-435F-AE57-26E8AF0E435C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5A3E151-52F1-482E-9E8A-4180C71A6B56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5A3E151-52F1-482E-9E8A-4180C71A6B56</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Charlie Chao (@charliecm)</string>
	<key>description</key>
	<string>Copy an open browser tab as hyperlink</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hyperlink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./copy "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>547E5E8D-9A61-435F-AE57-26E8AF0E435C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>copylink</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting your browser tabs...</string>
				<key>script</key>
				<string>ObjC.import('stdlib')

function isRunning(appName) {
    var SE = Application('System Events');
    try {
        SE.processes.byName(appName)();
    } catch(e) {
        return false;
    }
    return true;
}

function populateItems(items, browser) {
    var appName = (browser === 'chrome') ? 'Google Chrome' : 'Safari';
    if (!isRunning(appName)) {
        return;
    }
    var Browser = Application(appName);
    var titleProp = (browser === 'chrome') ? 'title' : 'name';
    var activeId = (browser === 'chrome') ? Browser.windows[0].activeTab.id() || false : false;
    var i, j, tabs, tab, title, url, item;
    for (i in Browser.windows) {
        tabs = Browser.windows[i].tabs;
        for (j in tabs) {
            tab = tabs[j];
            try {
                title = tab[titleProp]();
                url = tab.url();
            } catch (e) {
                continue;
            }
            item = {
                title: title,
                subtitle: url,
                arg: url + ' ' + title,
                icon: {
                    path: browser + '.png'
                }
            };
            if ((activeId !== false &amp;&amp; tab.id() === activeId) || (activeId === false &amp;&amp; tab.visible())) {
                // Add active tab to the top
                items.unshift(item);
            } else {
                items.push(item);
            }

        }
    }
}

function run(argv) {
    var result = { items: [] };
    populateItems(result.items, 'safari');
    populateItems(result.items, 'chrome');
    return JSON.stringify(result);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Copy Tab as Hyperlink</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5401675F-EFFB-434E-AA04-FB61D555B578</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied Tab as Hyperlink</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5A3E151-52F1-482E-9E8A-4180C71A6B56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A productivity workflow that lets you copy an open browser tab as hyperlink. This can be useful for pasting online sources into a document when doing research.

Type `copylink` to see a list of open tabs. Currently, this workflow supports Google Chrome and Safari only.</string>
	<key>uidata</key>
	<dict>
		<key>5401675F-EFFB-434E-AA04-FB61D555B578</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>547E5E8D-9A61-435F-AE57-26E8AF0E435C</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F5A3E151-52F1-482E-9E8A-4180C71A6B56</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/charliecm/alfred-hyperlink</string>
</dict>
</plist>
